<% if flash[:notice]%>
    <%= flash[:notice]%>
<% end %>
<h1>vpn_index_page</h1>
<%= link_to  "new vpn", new_vpn_path %>
<p>
    <button type="button"  onclick=close_fire_wall()>close fire wall</button>
    <button type="button"  onclick=disconnect_all()>disconnect all</button>
    <table>
        <tr>
            <th>vpn name</th>
            <th>ip</th>
            <th>bkip</th>
        </tr>
        <% @vpns.each do |vpn|%>
            <tr>
                <td><%= vpn.name %></td>
                <td><%= vpn.ipaddress %></td>
                <td><%= vpn.ipaddress_bk %></td>
                <td><button id="<%=vpn.name%>" type="button" onclick=connect(this)>connect</button></td>
                <td><%= link_to  "edit", edit_vpn_path(vpn) %></td>
                <td><%= link_to  "delete", vpn_path(vpn),method: :delete,data:{confirm:'Are you sure?'} %></td>
            </tr>
        <%end%>
    </table>
</p>
<p>
    <h2>pppd status</h2>
    <%= @pppd_status %>
</p>

<script>
    function connect(vpn) {
        var request = new XMLHttpRequest();
        request.open("GET","http://127.0.0.1:3000/connect?vpn_name="+vpn.id,true);
        request.send();
        request.onload = function(e) {
            if(request.readyState == 4 && request.status == 200){
                alert("connected");
            }
            else{
                alert("connect failed")
            }
        }
    }
    function close_fire_wall() {
        
    }
    function disconnect_all() {
        var request = new XMLHttpRequest();
        request.open("GET","http://127.0.0.1:3000/disconnect",true);
        request.send();
        request.onreadystatechange=function() {
            if(request.readyState == 4 && request.status == 200){
                alert("disconnected");
            }
        }
    }
</script>